body {
    background-color: #000000f5;
    color: #ffffff;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    border: 1px solid #ffffff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    box-sizing: border-box;
    margin: 0;
  }
  
  ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
  }
  
  button,
  .little-screen {
    box-sizing: border-box;
    padding: 20px;
    margin: 5px;
    text-align: center;
    background-color: #f1c40f;
    color: #000000;
    font-weight: 900;
    font-size: 30px;
    width: 200px;
    border: 3px solid #ffffff;
    display: flex;
    justify-content: space-around;
  }
  
  span {
    display: flex;
    justify-content: center;
    font-weight: 900;
    font-size: 30px;
    color: #ffffff;
  }
  
  h1,
  h2,
  h3 {
    text-align: center;
    padding: 10px;
    margin: 10px;
  }
  
  h1 {
    font-size: 50px;
  }
  
  h2 {
    font-size: 40px;
  }
  
  h3 {
    font-size: 35px;
  }
  