body {
  background-color: #000000f5;
  color: #ffffff;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  border: 1px solid #ffffff;
  display: flex;
  flex: auto;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: 100vh;
  box-sizing: border-box;
  margin: 0;
}

h1,
h2,
h3 {
  text-align: center;
  padding: 5px;
  margin: 5px;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 35px;
}

ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

button,
.littleScreen {
  box-sizing: border-box;
  padding: 20px;
  height: 80px;
  text-align: center;
  background-color: #f1c40f;
  color: #000000;
  font-weight: 900;
  font-size: 30px;
  display: flex;
  justify-content: space-around;
  width: 200px;
  border: 3px solid #ffffff;
}

.thirdRowElement{
  display: flex;
  justify-content: space-around;
  font-weight: 900;
  font-size: 30px;
  color: #ffffff;
  width: 200px;
  text-align: center;
}

.thirdRow, .fourthRow {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex: 0 1 auto;
}

.secondRow {
  margin-bottom: 0;
}

.thirdRow {
  margin-top: 0;
}

.results {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  font-size: 30px;
  width: 200px;
  height: 80px;;
  text-align: center;
  color: #ffffff;
  border: 3px solid #ffffff;
  }

/* .firstRow, .secondRow, .thirdRow, .fourthRow {
  border: 1px solid red;
} */